@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   margin: 0%;
   padding: 0%;
   font-family: 'Open Sans', sans-serif;   
}
.btn-primary{
   @apply text-white px-[42px] py-[10px] rounded-3xl bg-black shadow-2xl shadow-white cursor-pointer hover:opacity-70 transition-all ; 
}
.btn-secondary{
   @apply text-black px-[42px] py-[10px] rounded-3xl bg-white shadow-2xl shadow-black cursor-pointer hover:opacity-70 transition-all ; 
}
.slick-dots{
   @apply !flex ml-0 gap-x-4 
}
.btn-secondary
{
   @apply text-black px-[30px] py-[12px] rounded-3xl hover:bg-secondery hover:text-white cursor-pointer transition-all ; 
}
